.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20%;
}

.button {
  padding: 20px;
  width: 30vh;
  margin-bottom: 30px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: wheat;
}

input {
  padding: 20px;
  width: 30vh;
  margin-bottom: 30px;
  border-radius: 50px;
}

.Form {
  display: flex;
  align-items: center;
  flex-direction: column;
}
