.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20%;
}

a {
  color: black;
}

a:hover {
  color: darkblue;
}

.deleteButton {
  background: none;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 30px
}
